DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=website

# The root of the website
NEXT_PUBLIC_WEB_ROOT=http://localhost:3000

# A random secret used for cookie encryption, use `openssl rand -base64 32` to get a good value
JWT_SECRET=
JWT_COOKIE_NAME=chattriggers

DISCORD_ANNOUNCE_CHANNEL_WEBHOOK=https://discord.com/api/webhooks/1165019414190620702/i_SWe2QcPpCklY7ZRdVl4zHrdWKg7QC0Q5qIg9B0vMybzKXO-vEwxJ_Go-ongUYS9AxR
DISCORD_VERIFY_CHANNEL_WEBHOOK=https://discord.com/api/webhooks/1165019414190620702/i_SWe2QcPpCklY7ZRdVl4zHrdWKg7QC0Q5qIg9B0vMybzKXO-vEwxJ_Go-ongUYS9AxR

MAILERSEND_API_KEY=
MAILERSEND_VERIFICATION_TEMPLATE_ID=
MAILERSEND_PASSWORD_RESET_TEMPLATE_ID=

# For showing releases on the home page
GITHUB_TOKEN=